# Local
.DS_Store
*.local
*.log*

# Environment variables
.env
.env.local
.env.*.local

# Dist
node_modules
dist/

# Playwright test results
test-results/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
