@theme {
  --color-background: #020d0c;
  --color-text: #49bf9e;
  --color-text-dark: #358c84;
  --color-border: #205b73;
  --color-border-light: #307b8c;
}

@layer tailwind-base {
  @import "tailwindcss";
  @tailwind base;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}
